/**样式重置**/
body,ul,p,h1,h2,h3,h4,dl,dd,form,input,textarea,select { 
	padding:0; margin: 0; font-family: arial;
}
li { list-style: none;}
img { border: none;}
a { text-decoration: none;}
a:hover { text-decoration: underline;}

body{ background: url(../img/body_bg.png) repeat-x;}

/*有高的地方尽量设置height*/
#top{ width: 960px; height: 30px; margin: 0 auto;}
.top_menu { float: left; }
.top_menu li { float: left; background: url(../img/top_ico.png) no-repeat right 14px; font-size: 13px; line-height: 30px; 
padding-right: 18px; padding-left: 14px; }
.top_menu a { color: #c0c0c0;}
.top_menu a:hover{ color: #fff; }
.top_menu .no_dot{ background: none; }

.top_bar{ float: right; }
.top_bar li{ float: left; height: 30px; color: #fff; font-weight: bold; font-size: 13px; line-height: 30px; }
.top_bar .phone{ background: url(../img/top_ico.png) no-repeat 4px -16px;padding:0 38px; }     
.top_bar .help{ background: url(../img/top_ico.png)  no-repeat 0 -46px; padding:0 38px;}
.top_bar .help a{ color:$fff; }  

.top_bar .space{ margin-right: 12px;}

#header{ width: 960px; height: 100px; margin: 0 auto; position: relative; }
#shopping{ width: 260px; height: 100px; background: url(../img/shopping_bg.png) no-repeat;padding: 30px 0 0 84px;
	position: relative;}
#shopping p{ color: #F7F7F7; font-size: 20px; font-size: 20px;  font-family: arial;}
#shopping a{ display: block; width: 114px; height: 23px; background: url(../img/shopping_bg.png) no-repeat 0 -100px;
	position: absolute;  top: 63px;  left: 104px;    font-size: 15px;  color: #ffc200;  text-decoration: none;
	font-weight: bold;   text-align: center;   line-height: 23px;
 }
 #shopping a:hover{ color: #ffe388;}

#header h1{width: 238px; position: absolute; top:0; left: 50%; margin-left: -119px; }
